/*.head {
	position: fixed;
}*/
.left {
	height: 100%;
	width: 50%;
	position: fixed;
	background-color: aquamarine;
	top: 0;
	left: 0;
}

.right {
	height: 100%;
	width: 50%;
	position: absolute;
	background-color: aliceblue;
	top: 0;
	right: 0;
}